.input-size {
    display: flex;
    flex-direction: column;
    width: 350px;
    gap: 15px;
}

.box {
    width: 450px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 8px;
    background: #fafafa;
    gap: 10px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn {
  margin-top: 10px;
  background: #38bdf8;
  color: #020617;
  border: none;
  border-radius: 999px;
  padding: 12px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}

.btn:hover {
  background: #0ea5e9;
}

.pass {
  background: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 12px 14px;
  color: #000000;
  font-size: 14px;
}

.pass::placeholder {
  color: #9ca3af;
}

.pass:hover{
  border-color: #9ca3af;
}

.pass:focus {
  outline: none;
  border-color: #38bdf8;
  box-shadow: 0 0 0 1px #38bdf8;
}