.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0f172a; /* azul escuro profissional */
  font-family: 'Segoe UI', Tahoma, sans-serif;
  border: none;
}

.login-card {
  background: #111827; /* fundo do card */
  padding: 32px;
  width: 380px;
  border-radius: 14px;

  display: flex;
  flex-direction: column;
  gap: 14px;

  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
}

.login-card h1 {
  color: #e5e7eb;
  text-align: center;
  margin-bottom: 10px;
}

.input-text {
  background: #020617;
  border: 1px solid #1e293b;
  border-radius: 10px;
  padding: 12px 14px;
  color: #e5e7eb;
  font-size: 14px;
}

.input-text::placeholder {
  color: #9ca3af;
}

.input-text:focus {
  outline: none;
  border-color: #38bdf8;
  box-shadow: 0 0 0 1px #38bdf8;
}

.button-login {
  margin-top: 10px;
  background: #38bdf8;
  color: #020617;
  border: none;
  border-radius: 999px;
  padding: 12px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}

.button-login:hover {
  background: #0ea5e9;
}
