body{
        overflow: hidden;
      overflow-y: hidden;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  font-family: 'Segoe UI', Tahoma, sans-serif;
  border: none;
}

.login-card {
  background: #fafafa; /* fundo do card */
  padding: 32px;
  width: 380px;
  border-radius: 14px;

  display: flex;
  flex-direction: column;
  gap: 14px;

  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
}

.login-card h1 {
  color: #030407;
  text-align: center;
  margin-bottom: 10px;
}

.input-text {
  background: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 12px 14px;
  color: #000000;
  font-size: 14px;
}

.input-text::placeholder {
  color: #9ca3af;
}

.input-text:focus {
  outline: none;
  border-color: #38bdf8;
  box-shadow: 0 0 0 1px #38bdf8;
}

.button-login {
  margin-top: 10px;
  background: #38bdf8;
  color: #020617;
  border: none;
  border-radius: 999px;
  padding: 12px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}

.button-login:hover {
  background: #0ea5e9;
}

.register-text {
  display: flex;
  flex-direction: row;
  gap: 7px;
  font-size: small;
  font-weight: 400;

  a{
    cursor: pointer;
  }
}

p{
  text-align: center;
}

.material-icons{
cursor: pointer;
}