@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
overflow-y: hidden;
  background: #0f172a;

  font-family: "Archivo", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-optical-sizing: auto;
  
}


